<h1>Workout Lounge!</h1>

<p>Show off your workout to your friends and families</p>

<div class="row">
  <div class="col-12">
    <h2>Listing of Members</h2>
    <%= will_paginate @athletes, renderer: BootstrapPagination::Rails, class: 'pull-left paginate' %>

    <% @athletes.each do |athlete| %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">
          <%= athlete.full_name %>
        </p>
        <% if current_user %>
          <%= link_to 'Follow', friendships_path(friend_id: athlete), method: :post, class: 'btn btn-outline-success' unless current_user.follows_or_same?(athlete) %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
