<h1>Workout Lounge!</h1>

<p>Show off your workout to your friends and families</p>

<div class="row">
  <div class="col-12">
    <h2>Listing of Members</h2>

    <% @athletes.each do |athlete| %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">
          <%= athlete.full_name %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
